<app-navbar></app-navbar>
<section class="supplier-table vertical-center">
   <div class="button-div">
      <button type="button" class="btn btn-success">Success</button>  
      <button type="button" class="btn btn-info">ADD</button>
      <input type="file" class="btn ">
      <button type="button" class="btn btn-info">Upload</button>

   </div>
   <div>
      <table class="table table-bordered">
         <tr>
            <th style="padding-left: 35px;">SL.No</th>
            <th>Supplier Name</th>
            <th>Status</th>
            <th>Responded</th>
            <th>Rating</th>
            <th>select</th>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>


      </table>
   </div>
</section>